[submodule "src/git.kernel.org/man-pages"]
	path = src/git.kernel.org/man-pages
	url = http://git.kernel.org/pub/scm/docs/man-pages/man-pages
[submodule "scripts/roffit"]
	path = scripts/roffit
	url = https://github.com/bagder/roffit
